html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #073b4c;
    color: #f1faee;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding-top: 20px;
}

img {
    height: auto;
    width: auto;
    display: block;
}

.selectable {
    cursor: pointer;
}

#chess-app {
    background-color: #ffd166;
    border-radius: 10px;
    padding: 25px 25px 10px 25px;
    max-width: 532px;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 14px 12px -11px #04232e93;
}

.interface-container {
    display: flex;
}

#chessboard-backdrop {
    background-color: #ef476f;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.dark-square {
    background-color: #118ab2;
}

.light-square {
    background-color: #fffff0;
}

.dragged-over {
    /* filter: brightness(70%); */
    opacity: 0.2;
}
