html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #073b4c;
    color: #f1faee;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding-top: 20px;
}

img {
    height: auto;
    width: auto;
    display: block;
}

.dragImage {
    transform: scale(1.5);
}

.selectable {
    cursor: pointer;
}

#chess-app {
    background-color: #facb5d;
    border-radius: 10px;
    padding: 25px 25px 10px 25px;
    max-width: 532px;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 14px 12px -11px #04232e93;
}

.interface-container {
    display: flex;
}

#chessboard-backdrop {
    background-color: #ef476f;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

/*  */

/* board square colors */

.dark-square {
    background-color: #118ab2;
}

.light-square {
    background-color: #fffff0;
}

/*  */

/* .default-filter {
    background-color: #57e7ec;
    opacity: 1;
} */

.involved-in-last-move-filter {
    background-color: #dfbd6f;
    opacity: 1;
}

.involved-in-last-move-tile-light-square {
    background-color: #e6dac1;
    opacity: 1;
}

.involved-in-last-move-tile-dark-square {
    background-color: #bdaa86;
    opacity: 1;
}

.dragged-over {
    background-color: #11906e94;
}

.moveable {
    border-radius: 5rem;
    transform: scale(0.4, 0.4);
    background-color: rgba(6, 214, 158, 0.396);
}

.moveable-capturable-light-square {
    border-radius: 5rem;
    background-color: #fffff0;
}
.moveable-capturable-dark-square {
    border-radius: 5rem;
    background-color: #118ab2;
}

.moveable-capturable-parent {
    background-color: rgba(6, 214, 158, 0.396);
}

/* rounding those edges! */

#a8-filter {
    border-top-left-radius: 0.4rem;
}

#h8-filter {
    border-top-right-radius: 0.4rem;
}

#a1-filter {
    border-bottom-left-radius: 0.4rem;
}

#h1-filter {
    border-bottom-right-radius: 0.4rem;
}
